html,
body {
  height: 100%;
  overflow: hidden;
}

#react-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 
div:focus {
  box-shadow: 0 0 10px blue; */
/* outline-width: 0px 10px 0px 10px; */
/* outline-style: solid; */
/* outline-color: red; */
/* outline: 0;
  z-index: 1000;
} */

.block-handle {
  position: absolute;
  cursor: ns-resize;
  border-color: black;
  border-style: none;
  height: 5px;
  width: 30%;
}
.bottom-right {
  right: 0;
  bottom: 0;
  border-width: 0px 2px 2px 0px;
  z-index: 10;
}
.top-left {
  top: 0;
  left: 0;
  border-width: 2px 0px 0px 2px;
  z-index: 10;
}
.top-center {
  border-width: 2px;
  left: 35%;
  top: -2.5px;
  z-index: 10;
}

.inside {
  cursor: move;
  box-sizing: border-box;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0);
}

div:hover > .block-handle {
  border-style: solid;
}

.no-drop * {
  cursor: no-drop !important;
}

.replicon-task, .replicon-task-basic {
  background-color: #f6b7a8;
  color: #ff543c;
}

.replicon-task:hover {
  background-color: #f8cec4;
  color: #fd6955;
}


.ott-task, .ott-task-basic{
  background-color: #b1d6f8;
  color: #003366;
}

.ott-task:hover {
  background-color: #dcedfb;
  color: #0e3b68;
}